 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 956px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 35px auto 0 35px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 35px 0 0;
}

.u-section-1 .u-list-1 {
  width: 828px;
  margin: 114px auto 60px;
}

.u-section-1 .u-repeater-1 {
  min-height: 544px;
  grid-template-columns: calc(50% - 25px) calc(50% - 25px);
  grid-gap: 50px 50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 33px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 17px 11px 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  font-weight: normal;
  margin: 17px 0 0;
}

.u-section-1 .u-list-item-2 {
  transition-duration: 1.75s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 33px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 17px 11px 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  font-weight: normal;
  margin: 17px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 33px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 17px 11px 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  font-weight: normal;
  margin: 17px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 33px auto 0;
}

.u-section-1 .u-text-9 {
  margin: 17px 11px 0;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  font-weight: normal;
  margin: 17px 0 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-6 {
    font-size: 2rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 2rem;
  }

  .u-section-1 .u-text-10 {
    font-size: 2rem;
  }
}

.u-section-1 .u-list-item-2,
.u-section-1 .u-list-item-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-radius: 50px !important;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-radius: 50px !important;
}.u-section-2 .u-sheet-1 {
  min-height: 460px;
}

.u-section-2 .u-group-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: 294px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 0 643px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.875rem;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 10px 96px 11px 95px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 443px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 223px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 83px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 171px;
}